  body {
    font-family: serif;
    background: url("../img/fondo.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0%;
  }
  
  /* Header/Blog Title */
  .header {
    padding: 8%;
    text-align: center;
    height: 30vh;
    color: black;
    font-size: 100%;
    font-family: fantasy;
    }

  .header p {
    border: 5px solid black;
    border-radius: 5px;
    width: 425px;
    height: 50px;
    font-size: 250%;
    margin-left: 29%;
    padding: 2%;
    color: black;
    letter-spacing: 4px;
    }

  .logo {
    padding-top: 11%;
    float: left;
  }

  .flecha {
    padding-top: 6%;
    padding-left: 10%;
  }

  .iconos {
    margin-left: 1%;
  }
    
  /* Style the top navigation bar */
  .topnav {
    overflow: hidden;
    padding-top: 2%;
  }
  
  /* Style the topnav links */
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 15px;
    text-decoration: none;
    font-size: 120%;
  }

  .topnav h1 {
      margin-left: 7%;
      color: yellowgreen;
      font-size: 150%;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }

  .idioma {
    float: right;
    margin-right: 5%;
  }
  
  /* Create two unequal columns that floats next to each other */
  /* Left column */

  .crono{
    margin-top: 10%;
    background-color: lightslategray;
    height: 210px;
    font-size: 300%;
    font-family: fantasy;
  }

  .texto {
    width: 50%;
    text-align: right;
    float: left;
   }

  .tiempo {
    width: 50%;
    float: right;
    text-align: center;
    margin-top: 2%;
  }
 
  .pcuadrado {
    background-color: white;
    padding: 4%;
    height: 333px;
    padding-top: 10%;
  }

  .pcuadrado img {
    float: left;
    margin-left: 10%;
  }

  .desc {
    width: 50%;
    float: right;
  }

  .desc h2{
    color: grey;
  }

  .desc p {
    text-align: justify;
  }
  
  .scuadrado{
    height: 210px;
    background: url("../img/lineal.jpg");
    background-size: 100% 210px;
    background-repeat: no-repeat;
    padding: 2%;
    text-align: center;
    font-size: 325%;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: whitesmoke;
  }

  .clas {
    width: 50%;
    float: left;
  }

  .boton {
    width: 30%;
    float: right;
    padding-right: 8%;
  }

  .tcuadrado{
    height: 675px;
    margin-right: 5%;
    margin-left: 5%;
  }

  .tcuadrado h1 {
    margin-bottom: 5%;
    text-align: center;
    font-size: 250%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .tcuadrado p {
    font-size: 250%;
    color: black;
    vertical-align: bottom;
    text-align: left;
    margin-top: 100%;
    margin-left: 8%;
    font-family: fantasy;
    }

  .f1 {
    width: 30%;
    float: left;
    background: url("../img/f1.jpg");
    background-size: 400px 500px;
    background-repeat: no-repeat;
    height: 500px;
    margin-left: 2%;
    border: 1px solid black;
  }

  .f2 {
    width: 30%;
    float: left;
    background: url("../img/f3.jpg");
    background-size: 400px 500px;
    background-repeat: no-repeat;
    height: 500px;
    margin-left: 2%;
    border: 1px solid black;
  }

  .f3 {
    width: 30%;
    float: left;
    background: url("../img/f2.jpg");
    background-size: 400px 500px;
    background-repeat: no-repeat;
    height: 500px;
    margin-left: 2%;
    border: 1px solid black;
  }

  .ccuadrado {
    margin-bottom: 10%;
    height: 200px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .info {
    width: 50%;
    float: left;
    text-align: justify;
    padding-left: 7%;
    padding-top: 5%;
  }
  
  .info h1 {
    opacity: 0.8;
  }

  .postu {
    width: 20%;
    float: left;
    padding-left: 10%;
  }

  /* Footer */
  .footer {
    padding: 20px;
    background: gray;
    margin-top: 20px;
    height: 260px;
    font-family: fantasy;
  }

  .footer1 {
    float: left;
    width: 12%;
    margin-left: 4%;
    LINE-HEIGHT: 20px;
    margin-right: 15%;
  }

  .footer p {
    opacity: 0.8;
  }

  .footer1 img {
    margin: 2%;
  }

  .footer2 {
    float: left;
    width: 30%;
    margin-left: 4%;
  }

  .footer3 {
    float: right;
    width: 30%;
  }
  
  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .topnav a {
      float: none;
      width: 100%;
    }
  }