<!DOCTYPE html>
<html>
<head>
<title>Fútbol Bellvitge</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="../css/estilos.css">
</head>
<body>

  <div class="body">

<div class="topnavprin">
  <div class="idioma">
    <select name="OS">
      <option selected value="0">Idioma</option><br>
        <option value="1">Spanish</option> 
        <option value="2">English</option> 
        <option value="3">Chinese</option>
        <option value="4">French</option>
        <input type="submit" value="Enviar">
    </select> 
  </div>
    <h1 style="margin-left: 70px; LINE-HEIGHT:10px">FUTBOL</h1>
    <h1 style="LINE-HEIGHT:0px;">BELLVITGE</h1>
    <a href="#" style="margin-left: 31%;">Inicio</a>
    <a href="#">Clasificaciones</a>
    <a href="./inscripcion.php">Inscripciones</a>
    <a href="#">Noticias</a>
    <a href="#">Galeria</a>
</div>

<div class="header">
  <h1>25ª COMPETICIÓN DE FÚTBOL DE BELLVITGE 2020</h1>
  <p>INSCRIBIRTE</p>
  <img class="logo" src="../img/logo_hospi.png" width="300" height="70">
  <img class="flecha" src="../img/flecha.gif" width="175" height="150">
  <img class="iconos" style="padding-left: 20%; padding-bottom: 5%;" src="../img/twitter.png" width="45" height="45">
  <img class="iconos" style="padding-bottom: 5%;" src="../img/facebook.png" width="45" height="45">
  <img class="iconos" style="padding-bottom: 5%;" src="../img/google.png" width="45" height="45">

</div>

  <div class="crono">
    <div class="texto">
      <p>CUENTA ATRÁS PARA LA <br>COMPETICIÓN DE BELLVITGE</p>
    </div>
    <div class="tiempo">
      <iframe src="http://free.timeanddate.com/countdown/i7i2pi7d/n31/cf12/cm0/cu4/ct0/cs0/ca0/cr0/ss0/cac000/cpc000/pct/tcfff/fs150/szw640/szh270/tac000/tpc000/mac000/mpc000/iso2021-07-23T00:00:00" allowTransparency="true" frameborder="0" width="366" height="145">
      </iframe>
    </div>
  </div>

  <div class="pcuadrado">
      <img src="../img/futbol.jpg" width="450" height="250" style="box-shadow: 8px 8px 8px yellowgreen;">
    <div class="desc">
      <h2>Inicio</h2>
      <h1>Bienvenidos</h1>
      <p>Espacio que surge de la necesidad de pasar
        tiempo en familia, jugando y aprendiendo, siguiendo
        las metodologías del MOPI, conociendo mejor
        la manera de trabajar en la escuela para luego
        poderlo aplicar en casa. Las sesiones son
        variadas, hacemos: sonido y movimiento, trabajos manuales,
        entusiasmado, juego simbólico, lectura y escritura,
        cocina, celebramos las fiestas tradicionales ... todo
        esto de la mano de la directora de MOPI, maestra
        de Infantil, de educación especial y psicopedagoga.</p>
    </div>
  </div>

  <div class="scuadrado">
    <div class="clas">
      <p>CLASIFICACIONES</p>
    </div>
    <div class="boton">
      <p style="border: 5px solid whitesmoke">ENTRA</p>
    </div>
  </div>

  <div class="tcuadrado">
      <h1>Noticias</h1>
      <div class="f1">
        <p>NEW FIFA 21</p>
      </div>
      <div class="f2">
        <p>Cristiano Ronaldo en baja forma</p>
      </div>
      <div class="f3">
        <p>Anuncio fallido de NIKE</p>
      </div>
  </div>

  <div class="ccuadrado">
    <div class="info">
      <h1>Información</h1>
      <p>Fecha: El domingo 19 de mayo de 2020. Localización:
        Vila Universitaria de la Universidad Autònoma de Barcelona.
        Campos de fútbol: 4, lineas señalizadas, cerrado al público 
        y controlado. La organización se reserva el derecho de 
        modificar los campos/pistas de fútbol por motivos de seguridad.
        Tiempo aproximado de la duración del campeonato: 15 horas.
      </p>
    </div>
    <div class="postu">
      <img src="../img/chut.png" width="300" height="300">
    </div>
</div>

<div class="footer">
  <div class="footer1">
    <h1>Fútbol</h1>
    <h1>Bellvitge</h1>
    <hr style="height:2px;border-width:0;background-color:black;">
    <img src="../img/twitter.png" width="40" height="40">
    <img src="../img/facebook.png" width="40" height="40">
    <img src="../img/google.png" width="40" height="40">
  </div>
  <div class="footer2">
    <h1>ACCESO RÁPIDO</h1>
    <p>Inicio</p>
    <p>Clasificaciones</p>
    <p>Inscripciones</p>
    <p>Noticias</p>
    <p>Login - Admin</p>
  </div>
  <div class="footer3">
    <h1>CONTACTO</h1>
    <p>19 de Mayo de 2021</p>
    <p>Av. Mare de Déu de Bellvitge, 100, 110, <br>
      08907 L'Hospitalet de Llobregat, Barcelona</p>
    <p>15 horas</p>
  </div>
</div>


</body>
</html>